.home-blog .hero{
  margin: 0 auto
}
.color-picker{
  display: none
}
.nav-links a:hover, .nav-links a.router-link-active{
  color #f8a5c2
}
.nav-links a:hover .iconfont, .nav-links a.router-link-active .iconfont {
  color #f8a5c2
}
.search-box input:focus{
  color #f8a5c2
  border-color: #f8a5c2
}
.search-box input{
  border-color :var(--text-color);
}
.dropdown-item a:hover{
  color #f8a5c2!important
}
.home-blog .home-blog-wrapper .info-wrapper,.abstract-item,.category-item{
  background-color #2f3542!important
}
// .suggestions li:hover{
//    color #f8a5c2!important
// }
