.home-blog{
  padding: 0 15rem
}
.abstract-wrapper{
  background: #fff
  position relative
  z-index: 2}
.home-blog .hero{
  // margin: 40px auto
  // position relative
  // top: 2.4rem
  // bottom: 1rem
  // height: 0!important
  display: none
}
 .blog-list{
  margin-top: 60px
}
.info-wrapper{
  flex: 0 0 300px!important
}
.color-picker{
  display: none
}
.nav-links a:hover, .nav-links a.router-link-active{
  color #f8a5c2
}
.nav-links a:hover .iconfont, .nav-links a.router-link-active .iconfont {
  color #f8a5c2
}
.search-box input:focus{
  color #f8a5c2
  border-color: #f8a5c2
}
.search-box input{
  border-color :var(--text-color);
}
.dropdown-item a:hover{
  color #f8a5c2!important
}
.home-blog .home-blog-wrapper .info-wrapper,.abstract-item,.category-item{
  background-color #fff!important
}
// a{
//   color #242424!important
//   }
// .suggestions li:hover{
//    color #f8a5c2!important
// }
.aplayer .aplayer-fixed .aplayer-body,.aplayer.aplayer-fixed{
  z-index: 5!important
}
.sponsor-container{
  position: fixed!important;
  right: 0rem!important;
  bottom: -6.4rem!important;
  opacity 0.8!important
}
.sponsor-container .sponsor-love{
  display: none
 }
.sponsor-container .sponsor-qrcode-container .sponsor-qrcode-info{
  top: calc(-250% - 100px)!important
}
.sponsor-qrcode-info{
  background-size: 100% 100%!important
}
.sponsor-container .sponsor-payment-options{
  opacity 0.8!important
}
@media screen and (max-width: 1200px){
    .home-blog {
         padding: 0
    }
    .info-wrapper {
      display: none
    }
    .blog-list{
      margin-top: 70px
    }
}